<header>
  <h1>Sweeping Routes</h1>
</header>

<form class="address-query" ng-submit="sfParking.addressQuery(sfParking.number,sfParking.street)">
    <input ng-model="sfParking.number" type="text" name="number" placeholder="house number"/>
    <input ng-model="sfParking.street" type="text" name="street" placeholder="house street"/>
    <input style='width:0; visibility:hidden' type='submit'>
 </form>

 <form class="block-query" ng-submit="sfParking.blockQuery(sfParking.block,sfParking.cross1,sfParking.cross2)">
    <input ng-model="sfParking.block" type="text" name="block" placeholder="block"/>
    <input ng-model="sfParking.cross1" type="text" name="cross1" placeholder="cross street"/>
    <input ng-model="sfParking.cross2" type="text" name="cross2" placeholder="cross street"/>
    <input style='width:0; visibility:hidden' type='submit'>
 </form>
 <li ng-repeat="item in sfParking.routes">
    {{sfParking.show(item)}}
</li>
